body {
    background-color: #333;
    color: #fff;
}

.container {
    padding: 200px 400px 0 400px;
    height: 800px;
}

.transition {
    height: 500px;
    position: absolute;
    top: 200px;
    left: 400px;
}

.button {
    margin-top: 200px;
    margin-left: 500px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    color: rgb(117, 199, 117);
    font-family: sans-serif;
    background-color: #555;
}

.block {
    width: 10px;
    height: 50px;
}


/* ========================================================= */

.button:hover {
    font-size: 25px;
    transition: 0.2s 0.9s;
}

.button:hover .block {
    background: rgb(214, 214, 214);
    transition: 1s;
    width: 1400px;
}

.block {
    transition-duration: 1s;
}

.red {
    transition-timing-function: ease;
}
