html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
    font-size: 20px;
}

.container  {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.header-logo {
    width: 50px;
    height: 50px;
    background: #000;
}

.list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #000;
    font-size: 20px;
}

.phone {
    text-decoration: none;
}

.border {
    border: 1px solid #978888 ;
}