table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
caption {
    border: 1px solid #000;
    padding: 4px;
}

caption {
    border-bottom: none;
    font-weight: 600;
}

thead {
    font-weight: 600;
}

.weekend {
    color:#ff0000
}