.article {
    padding-top: 80px;
    margin-bottom: 120px;
}


.article__title-medium {
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article__mb-1 {
    margin-bottom: 80px;
}

.article__mb-2 {
    margin-bottom: 40px;
}

.article__decor-wrapper {
    position: relative;
}

.article__decor-wrapper-1::before {
    top: 100px;
    left: 0;
}

.article__decor-wrapper-2::before {
    right: 0;
    bottom: 136px;
}


.article__group-list {
    margin-top: 0;
    padding-left: 17px;
}

.article__group-item {
    margin-bottom: 12px;
}

.article__group-item::marker {
    font-size: 22px;
    color: #3596ED;
}


.article__review-playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.article__review-playbutton:hover {
    background-color: #3ba3ff;
}


.article__review-playbutton:not(:disabled):active {
    background-color: #256caa;
}

@media (width <= 768px) {
    .article__decor-wrapper::before {
        display: none;
    }

    .article__mb-1 {
        margin-bottom: 60px;
    }
    
    .article__title-medium {
        font-size: 32px;
    }
}

@media (width <= 576px) {
    .article {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .article__mb-1 {
        margin-bottom: 40px;
    }

    .article__mb-2 {
        margin-bottom: 40px;
    }

    .article__title-medium {
        font-size: 28px;
    }

    .article__review-playbutton {
        width: 50px;
        height: 50px;
    }

    .article__review-playbutton img {
        width: 18px;
        height: 18px;
    }
}