body {
    background-color: #1e1e22;
    color: #fff;
}

.inner {
    display: flex;
    margin: 50px 500px;
}

.red,
.blue,
.green {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.blocks {
    flex-direction: column;
}

.container {
    width: 800px;
    height: 800px;
    border: 1px solid #0505a7;
}

.red {
    background: linear-gradient(120deg, #fa2f2f80, #ff620080);
}

.blue {
    background: linear-gradient(120deg, #312ffa80, #a200ff80);
}

.green {
    background: #09d35d;
}

/* ==================================================== */

.red {
    transform: translate(532px, 599px);
}

.blue {
    transform: translate(700px,-99px) scale(2);
}

.green {
    transform: translate(317px, -285px) rotate(30deg);
}